## .NET
bin/
obj/
*.user
*.suo

## Visual Studio / Rider
.vs/
.idea/

## Blazor WASM publish
wwwroot/_framework/

## Secrets (nunca versionar)
appsettings.*.local.json
**/appsettings.Production.json
*.pfx

## SO
.DS_Store
Thumbs.db
